@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  background-color: black;
  color: #f8a427;
  font-family: 'Teko', sans-serif;
}

input {
  background-color: black;
  color: #f8a427;
  font-family: 'Teko', sans-serif;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}


.pubg-button {
  background-color: black;
  color: #f8a427;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.App {
  text-align: center;
}

.header {
  font-size: 40px;
}

.subheader {
  font-size: 30px;
}

.player-input {
  font-size: 20px;
}

.label {
  font-size: 20px;
  margin: 0;
}

.graph {
  border-style: solid;
  border-width: 2px;
  border-color: #f8a427;
  width: 800px;
}

.pos-graph {
  background-image: url(./miramar.png);
  background-repeat: no-repeat;
  background-size: 820px 820px;
  background-position: center;
  width: 800px;

}

.slider {
  width: 400px;
  height: 150px;
}

.rangeslider {
  margin: !important 10px 0;
}

.rangeslider__handle {
  z-index: 99;
}

.scroll-list {
  border-style: solid;
  border-width: 2px;
  border-color: #f8a427;
  max-height: 200px;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-overflow {
  border-style: solid;
  border-width: 2px;
  border-color: #f8a427;
  max-height: 800px;
  max-width: 800px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.match-data {
  list-style-type: none;
}

.match-data li {
  font-size: 20px;
}
