@import url('https://fonts.googleapis.com/css?family=Teko');

body {
  background-color: black;
  color: #f8a427;
  font-family: 'Teko', sans-serif;
}

.App {
  text-align: center;
}

.graph {
  border-style: solid;
  border-width: 2px;
  border-color: #FECC4E;
  width: 800px;
}

.pos-graph {
  background-image: url(./xxx.jpg);
  background-repeat: no-repeat;
  background-size: 820px 820px;
  background-position: center;
  border-style: solid;
  border-width: 2px;
  border-color: #FECC4E;
  width: 800px;
  position: relative;
}

.slider {
  width: 800px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.rangeslider__handle {
  z-index: 99;
}

.scroll-list {
  max-height: 200px;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
